@import "xbox";
@import "push-start";
@import "keyboard";
@import "elevator";

.button--container {
  margin: 0 auto;
  position: relative;
  height: 10rem;
  width: 10rem;

  height: auto;
  width: auto;
  display: inline-block;
}
