.push-start--container {
  margin: 0 auto;
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}

.gray-wrapper {
  background-color: #C8C5CE;
  border: 6px solid #918f96;
  box-shadow: 0 0 1px 4px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
}

.button--push-start {
  @include user-select(none);
  background-color: #A40721;
  @include linear-gradient(left, #900b21 0%, #a20825 25%, #ab1532 85%, #bf4644 100%);
  border-radius: 50%;
  border: 6px solid #62020C;
  box-shadow: 0 0 0 3px #500008;
  color: #FFF;
  display: inline-block;
  font-family: "Lato";
  font-size: 1.25rem;
  padding-top: 2rem;
  height: 7.6rem;
  width: 9.6rem;
  margin-top: 1rem;

  &:active {
    @include linear-gradient(left, #900b21 0%, #980722 25%, #a0122e 85%, #af403e 100%);
    margin-top: calc(1rem + 4px);
    border-color: #480008;
    box-shadow: 0 -5px 0 2px #480008;
    height: calc(7.6rem - 1px);

    .push-start-light { background-color: #1de045;}
  }

  input { display: none; }

  label {
    &:before {
      content: "";
      background-color: rgba(33, 210, 69, 0.52);
      height: 0.4rem;
      width: 1.5rem;
      display: block;
      border-radius: 10rem;
      margin: 0 auto;
      margin-bottom: 0.8rem;
    }
  }

  //Checkbox Active
  input:checked ~ label:before {
    background-color: #21D245;
    box-shadow: 0 0 15px 1px rgba(114, 222, 167, 0.75);
  }
}

.push-start-text {
  display: block;
  width: 6rem;
  margin: 1.1rem auto 0;
}
